{% extends '@book/layout-book.html.twig' %}

{% import '@book/macros/book.html.twig' as book %}

{% block pageTitle %}{{ chapter.subject }}{% endblock %}

{% block content %}
    {{ book.prevNextChapter(chapters,chapter.chapterNumber) }}
    <div class="bookPage bookPageSinglePost">
        {{ book.singlePagePost(chapter) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ book.tableOfContents(chapters,chapter.chapterNumber) }}
{% endblock %}
