{% extends 'layout.html.twig' %}

{% block headerLinks %}
    {{ parent() }}
    <!--suppress HtmlUnknownTarget -->
    <link type="text/css" media="all" rel="stylesheet"
          href="/resources/parsingphase/book/book.css"/>
{% endblock %}

{#{% block sidebar %}#}
    {#<div class="well well-sm text-center">#}
        {#<p><a href="{{ path('blog.index') }}">Blog index</a></p>#}
        {#<p><a href="{{ path('blog.archive') }}">Blog archive</a></p>#}
        {#{% if is_granted('ROLE_ADMIN') %}#}
            {#<p><a href="{{ path('blog.newPost') }}">New post</a></p>#}
        {#{% endif %}#}
    {#</div>#}
    {#{{ parent() }}#}
{#{% endblock %}#}
