{% macro chapterStatusIcons(chapter) %}
    {% if not chapter.active %}<span class="glyphicon glyphicon-eye-close"></span>{% endif %}
{% endmacro %}

{% macro indexPagePost(chapter) %}
    {% import _self as book %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('book.readChapter',{chapterId: chapter.id, slug: chapter.slug}) }}">{{ book.chapterStatusIcons(chapter) }}
                <span class="chapterTitle">{{ chapter.chapterNumber }}) {{ chapter.subject }}</span></a>
        </div>
        <div class="panel-body">
            {{ chapter.body|slice(0,1000)|markdown }}...
        </div>
        <div class="panel-footer">
            <div class="pull-right">
                <a href="{{ path('book.readChapter',{chapterId: chapter.chapterNumber, slug: chapter.slug}) }}">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endmacro %}

{% macro singlePagePost(chapter) %}
    {% import _self as book %}

    <div class="singlePageChapter">
        <div class="pull-right">
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-default"
            href="{{ path('book.editChapter',{uid: chapter.id, slug: chapter.slug}) }}"><span
            class="glyphicon glyphicon-pencil"></span> Edit</a> {% endif %}
        </div>

        <h1 class="chapterTitle">{{ book.chapterStatusIcons(chapter) }}
            <span class="chapterTitleText">Chapter {{ chapter.chapterNumber }}: {{ chapter.subject }}</span></h1>

        <div class="well chapterbody">
            {{ chapter.body|markdown }}
            <div class="pull-right attribution">
                {#Posted by {{ post.creator.name }}, {{ post.time|date('Y-m-d H:i') }}#}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endmacro %}

{% macro tableOfContents(chapters,currentChapter) %}
    <div class="well book-toc">
        <h3>Contents</h3>
        <ul>
            <li><a href="{{ path('book.index') }}">Index</a></li>
            {% for tocChapter in chapters %}
                {% if tocChapter.chapterNumber == currentChapter %}
                    <li>» {{ tocChapter.chapterNumber }} {{ tocChapter.subject }}</li>
                {% else %}
                    <li>
                        <a href="{{ path('book.readChapter',{chapterId: tocChapter.id, slug: tocChapter.slug}) }}">{{ tocChapter.chapterNumber }} {{ tocChapter.subject }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}


{% macro prevNextChapter(chapters,currentChapter) %}
    <div class="bookNav well">
        {% set prevChapterNumber = currentChapter-1 %}
        {% set nextChapterNumber = currentChapter+1 %}
        {% set prevChapter = null %}
        {% set nextChapter = null %}

        {% for tocChapter in chapters %}
            {% if tocChapter.chapterNumber == prevChapterNumber %}
                {% set prevChapter = tocChapter %}
            {% elseif tocChapter.chapterNumber == nextChapterNumber %}
                {% set nextChapter = tocChapter %}
            {% endif %}
        {% endfor %}

        <div class="prevChapter col-sm-5 text-left">{% if prevChapter %}
                Back: <a
                        href="{{ path('book.readChapter',{chapterId: prevChapter.id, slug: prevChapter.slug}) }}">{{ prevChapter.subject }}</a>
            {% endif %}</div>
        <div class="toIndex col-sm-2 text-center">Up: <a href="{{ path('book.index') }}">Index</a></div>
        <div class="nextChapter col-sm-5 text-right">{% if nextChapter %}
                Next: <a
                        href="{{ path('book.readChapter',{chapterId: nextChapter.id, slug: nextChapter.slug}) }}">{{ nextChapter.subject }}</a>
            {% endif %}</div>
        <div class="clearfix"></div>
    </div>
{% endmacro %}
